/* index.css */

/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 21px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .navbar-menu li:hover {
    color: silver;
  }
  
  /* Body styles */
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .restaurant-card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
  
  .restaurant-card-image {
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .restaurant-card-title {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .restaurant-card-category {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .restaurant-card-rating {
    margin-top: 5px;
    font-size: 16px;
    color: #333;
  }
  
  /* Footer styles */
  .footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  